Repository spbu-coding-2022/trees-6, pull requests merged in 2023-04, with the labels that each got.

#14 Working version of Balancer
  BSTrees/build.gradle.kts
  BSTrees/src/main/kotlin/avlTree/AvlTree.kt
  BSTrees/src/main/kotlin/balancers/AvlBalancer.kt
  BSTrees/src/main/kotlin/balancers/BSBalancer.kt
  BSTrees/src/main/kotlin/balancers/Balancer.kt
  BSTrees/src/main/kotlin/balancers/RBBalancer.kt
  BSTrees/src/main/kotlin/redBlackTree/RBTree.kt
  BSTrees/src/test/kotlin/balancers/BalancerTest.kt
  BSTrees/src/test/kotlin/utils/BSTreeUtil.kt
Labels: enhancement

#16 Changing the architecture
  BSTrees/src/main/kotlin/BTree.kt
  BSTrees/src/main/kotlin/Node.kt
  BSTrees/src/main/kotlin/avlTree/AvlTree.kt
  BSTrees/src/main/kotlin/balancers/AvlBalancer.kt
  BSTrees/src/main/kotlin/balancers/BSBalancer.kt
  BSTrees/src/main/kotlin/balancers/Balancer.kt
  BSTrees/src/main/kotlin/balancers/RBBalancer.kt
  BSTrees/src/main/kotlin/binarySearchTree/BSTree.kt
  BSTrees/src/main/kotlin/redBlackTree/RBNode.kt
  BSTrees/src/main/kotlin/redBlackTree/RBTree.kt
  BSTrees/src/test/kotlin/balancers/BalancerTest.kt
  BSTrees/src/test/kotlin/utils/BSTreeUtil.kt
Labels: BSTRee, architecture, test

#17 Avl tree
  BSTrees/src/main/kotlin/avlTree/AvlTree.kt
  BSTrees/src/main/kotlin/balancers/AvlBalancer.kt
  BSTrees/src/main/kotlin/balancers/Balancer.kt
Labels: enhancement, AvlTree, architecture

#22 Added new tests for RBTree
  BSTrees/build.gradle.kts
  BSTrees/src/main/kotlin/redBlackTree/RBTree.kt
  BSTrees/src/test/kotlin/redBlackTree/RBTreeTest.kt
Labels: RBTree, test

#24 Refactoring
  BSTrees/src/main/kotlin/BTree.kt
  BSTrees/src/main/kotlin/Node.kt
  BSTrees/src/main/kotlin/avlTree/AvlNode.kt
  BSTrees/src/main/kotlin/balancers/AvlBalancer.kt
  BSTrees/src/main/kotlin/balancers/BSBalancer.kt
  BSTrees/src/main/kotlin/balancers/Balancer.kt
  BSTrees/src/main/kotlin/binarySearchTree/BSNode.kt
  BSTrees/src/main/kotlin/binarySearchTree/BSTree.kt
  BSTrees/src/main/kotlin/redBlackTree/RBNode.kt
  BSTrees/src/main/kotlin/redBlackTree/RBTree.kt
Labels: RBTree, AvlTree, BSTRee, architecture

#25 Refactoring
  BSTrees/src/main/kotlin/balancers/RBBalancer.kt
  BSTrees/src/main/kotlin/redBlackTree/RBTree.kt
Labels: RBTree

#27 Storing trees in SQLite
  BSTrees/src/main/kotlin/serialization/SerializableType.kt
  BSTrees/src/main/kotlin/serialization/reps/sqliteRep/SQLTables.kt
  BSTrees/src/main/kotlin/serialization/reps/sqliteRep/SQLTreeSerializer.kt
  BSTrees/src/main/kotlin/serialize/SerializableTree.kt
  BSTrees/src/main/kotlin/serialize/sqliteRep/SQLTables.kt
  BSTrees/src/main/kotlin/serialize/sqliteRep/SQLTreeSerializer.kt
Labels: architecture, SQLite

#28 fix: Fixed a bug with adding equal keys. Fixed the test which checks it
  BSTrees/src/main/kotlin/avlTree/AvlTree.kt
  BSTrees/src/main/kotlin/binarySearchTree/BSTree.kt
  BSTrees/src/test/kotlin/avlTree/AVLTreeTest.kt
  BSTrees/src/test/kotlin/binarySearchTree/BSTreeTest.kt
  BSTrees/src/test/kotlin/redBlackTree/RBTreeTest.kt
Labels: bug, AvlTree, BSTRee, test

#29 added a parameterized test
  BSTrees/src/test/kotlin/avlTree/AVLTreeTest.kt
  BSTrees/src/test/kotlin/binarySearchTree/BSTreeTest.kt
  BSTrees/src/test/kotlin/redBlackTree/RBTreeTest.kt
Labels: test

#30 A small correction of the placement of brackets
  BSTrees/src/test/kotlin/treeInvariants/TreesInvariants.kt
Labels: bug, RBTree, test

#31 A bug with infinite recursion while working with sql
  BSTrees/src/main/kotlin/serialization/reps/sqliteRep/SQLTables.kt
  BSTrees/src/main/kotlin/serialization/reps/sqliteRep/SQLTreeSerializer.kt
Labels: bug, SQLite

#32 Setting up CI and gradle
  .github/workflows/CI.yml
  BSTrees/build.gradle.kts
  gradle.properties
Labels: enhancement, gradle, git

#33 Storing trees in Json
  BSTrees/src/main/kotlin/serialization/SerializableType.kt
  BSTrees/src/main/kotlin/serialization/reps/DBTreeRepo.kt
  BSTrees/src/main/kotlin/serialization/reps/JsonTreeRepo.kt
  BSTrees/src/main/kotlin/serialization/reps/SQLTables.kt
  BSTrees/src/main/kotlin/serialization/reps/SQLTreeRepo.kt
Labels: JSON

#34 Storing trees in Neo4j
  BSTrees/build.gradle.kts
  BSTrees/src/main/kotlin/serialization/SerializableType.kt
  BSTrees/src/main/kotlin/serialization/reps/DBTreeRepo.kt
  BSTrees/src/main/kotlin/serialization/reps/JsonTreeRepo.kt
  BSTrees/src/main/kotlin/serialization/reps/Neo4jTreeRepo.kt
  BSTrees/src/main/kotlin/serialization/reps/SQLTables.kt
  BSTrees/src/main/kotlin/serialization/reps/SQLTreeRepo.kt
  gradle.properties
Labels: neo4j

#37 Fix merge database configuration
  .gitignore
  CONTAINER.conf
  gradle.properties
  lib/build.gradle.kts
  lib/src/main/kotlin/bstrees/dataBases/reps/DBTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/SQLTables.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/utils/PathsUtil.kt
  lib/src/main/resources/dbConfig.properties
  lib/src/test/kotlin/utils/BSTreeUtil.kt
  neo4j_up.sh
Labels: DataBase, SQLite, JSON, neo4j, gradle

#36 Database configuration
  .gitignore
  BSTrees/src/main/kotlin/utils/PathsUtil.kt
  BSTrees/src/main/resources/dbConfig.properties
  CONTAINER.conf
  gradle.properties
  lib/build.gradle.kts
  lib/src/main/kotlin/bstrees/dataBases/reps/DBTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/SQLTables.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/SQLTreeRepo.kt
  lib/src/test/kotlin/utils/BSTreeUtil.kt
  neo4j_up.sh
Labels: DataBase, SQLite, JSON, neo4j

#38 Database class constructor
  lib/src/main/kotlin/bstrees/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/dataBases/utils/PathsUtil.kt
Labels: DataBase, SQLite, JSON, neo4j

#39 Strategy implementation
  lib/src/main/kotlin/bstrees/model/dataBases/reps/DBTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/SerializeStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/AvlStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/BsStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/RbStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableNode.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableTree.kt
  lib/src/main/kotlin/bstrees/model/trees/BTree.kt
  lib/src/main/kotlin/bstrees/model/trees/Balancer.kt
  lib/src/main/kotlin/bstrees/model/trees/Node.kt
  lib/src/main/kotlin/bstrees/model/trees/avl/AvlBalancer.kt
  lib/src/main/kotlin/bstrees/model/trees/avl/AvlNode.kt
  lib/src/main/kotlin/bstrees/model/trees/avl/AvlTree.kt
  lib/src/main/kotlin/bstrees/model/trees/binarySearch/BSBalancer.kt
  lib/src/main/kotlin/bstrees/model/trees/binarySearch/BSNode.kt
  lib/src/main/kotlin/bstrees/model/trees/binarySearch/BSTree.kt
  lib/src/main/kotlin/bstrees/model/trees/redBlack/RBBalancer.kt
  lib/src/main/kotlin/bstrees/model/trees/redBlack/RBNode.kt
  lib/src/main/kotlin/bstrees/model/trees/redBlack/RBTree.kt
  lib/src/test/kotlin/avlTree/AVLTreeTest.kt
  lib/src/test/kotlin/balancers/BalancerTest.kt
  lib/src/test/kotlin/binarySearchTree/BSTreeTest.kt
  lib/src/test/kotlin/redBlackTree/RBTreeTest.kt
  lib/src/test/kotlin/treeInvariants/TreesInvariants.kt
  lib/src/test/kotlin/utils/BSTreeUtil.kt
Labels: RBTree, AvlTree, BSTRee, architecture, DataBase
