Repository spbu-coding-2022/trees-6, pull requests merged in 2023-05, with the labels that each got.

#40 Compose implementation
  .github/workflows/CI.yml
  lib/build.gradle.kts
  lib/src/main/kotlin/bstrees/model/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableNode.kt
  lib/src/main/kotlin/bstrees/presenter/DataBasePresenter.kt
  lib/src/main/kotlin/bstrees/presenter/LayoutPresenter.kt
  lib/src/main/kotlin/bstrees/presenter/TreePresenter.kt
  lib/src/main/kotlin/bstrees/view/App.kt
  lib/src/main/kotlin/bstrees/view/assets/DatabaseConnections.kt
  lib/src/main/kotlin/bstrees/view/assets/Navigation.kt
  lib/src/main/kotlin/bstrees/view/assets/Selector.kt
  lib/src/main/kotlin/bstrees/view/assets/TreeView.kt
  lib/src/main/kotlin/bstrees/view/screens/HomeScreen.kt
  lib/src/main/kotlin/bstrees/view/screens/ScreenManager.kt
  lib/src/main/kotlin/bstrees/view/screens/TreeScreen.kt
Labels: architecture, UI-View

#41 Saving additional information about the tree in the database
  lib/src/main/kotlin/bstrees/model/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/SerializeStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/AvlStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/BsStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/RbStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableNode.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableTree.kt
  lib/src/main/kotlin/bstrees/presenter/LayoutPresenter.kt
  lib/src/main/kotlin/bstrees/presenter/TreePresenter.kt
  lib/src/main/kotlin/bstrees/view/screens/TreeScreen.kt
Labels: DataBase, SQLite, JSON, neo4j, UI-Controller, Serialize

#42 Fixes in tests
  lib/src/main/kotlin/bstrees/model/trees/redBlack/RBBalancer.kt
  lib/src/main/kotlin/bstrees/model/trees/redBlack/RBTree.kt
  lib/src/test/kotlin/avlTree/AVLTreeInvariants.kt
  lib/src/test/kotlin/avlTree/AVLTreeTest.kt
  lib/src/test/kotlin/binarySearchTree/BSTreeInvariants.kt
  lib/src/test/kotlin/binarySearchTree/BSTreeTest.kt
  lib/src/test/kotlin/redBlackTree/RBTreeInvariants.kt
  lib/src/test/kotlin/redBlackTree/RBTreeTest.kt
  lib/src/test/kotlin/treeInvariants/TreesInvariants.kt
  lib/src/test/kotlin/utils/TreesInvariants.kt
Labels: test

#44 UI Presenter
  lib/src/main/kotlin/bstrees/model/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/SerializeMethods.kt
  lib/src/main/kotlin/bstrees/presenter/TreePresenter.kt
  lib/src/main/kotlin/bstrees/presenter/treesPresenters/AvlTreePresenter.kt
  lib/src/main/kotlin/bstrees/presenter/treesPresenters/BsTreePresenter.kt
  lib/src/main/kotlin/bstrees/presenter/treesPresenters/RbTreePresenter.kt
  lib/src/main/kotlin/bstrees/view/assets/TreeView.kt
  lib/src/main/kotlin/bstrees/view/screens/TreeScreen.kt
Labels: neo4j, UI-Controller

#46 GUI moved to the app module
  app/build.gradle.kts
  app/src/main/kotlin/Main.kt
  app/src/main/kotlin/app/presenter/DataBasePresenter.kt
  app/src/main/kotlin/app/presenter/LayoutPresenter.kt
  app/src/main/kotlin/app/presenter/TreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/AvlTreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/BsTreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/RbTreePresenter.kt
  app/src/main/kotlin/app/view/App.kt
  app/src/main/kotlin/app/view/assets/DatabaseConnections.kt
  app/src/main/kotlin/app/view/assets/Navigation.kt
  app/src/main/kotlin/app/view/assets/Selector.kt
  app/src/main/kotlin/app/view/assets/TreeView.kt
  app/src/main/kotlin/app/view/screens/ChosingTypesScreen.kt
  app/src/main/kotlin/app/view/screens/HomeScreen.kt
  app/src/main/kotlin/app/view/screens/ScreenManager.kt
  app/src/main/kotlin/app/view/screens/TreeScreen.kt
  gradle.properties
  lib/build.gradle.kts
Labels: architecture, UI-Controller, UI-View

#47 LayoutPresenter implementation
  app/src/main/kotlin/app/presenter/LayoutPresenter.kt
  app/src/main/kotlin/app/presenter/utils/TreeHeightPresenter.kt
Labels: UI-Controller

#48 New TreeToDataConverter and some structural changes
  app/src/main/kotlin/app/presenter/LayoutPresenter.kt
  app/src/main/kotlin/app/presenter/TreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/AvlTreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/BsTreePresenter.kt
  app/src/main/kotlin/app/presenter/treesPresenters/RbTreePresenter.kt
  app/src/main/kotlin/app/presenter/utils/TreeHeightPresenter.kt
  app/src/main/kotlin/app/view/assets/TreeView.kt
  lib/src/main/kotlin/bstrees/model/dataBases/NodeData.kt
  lib/src/main/kotlin/bstrees/model/dataBases/TreeData.kt
  lib/src/main/kotlin/bstrees/model/dataBases/converters/TreeToDataConverter.kt
  lib/src/main/kotlin/bstrees/model/dataBases/converters/treesConverters/AvlToDataConverter.kt
  lib/src/main/kotlin/bstrees/model/dataBases/converters/treesConverters/BsToDataConverter.kt
  lib/src/main/kotlin/bstrees/model/dataBases/converters/treesConverters/RbToDataConverter.kt
  lib/src/main/kotlin/bstrees/model/dataBases/converters/utils/StringConverter.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/DBTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/JsonTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/Neo4jTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/SQLTreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/reps/TreeRepo.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/SerializeStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/AvlStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/BsStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/RbStrategy.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/strategies/SerializeMethods.kt
  lib/src/main/kotlin/bstrees/model/dataBases/serialize/types/SerializableNode.kt
Labels: architecture, UI-Controller, Serialize

#50 Appearance changes
  app/src/main/kotlin/app/view/App.kt
  app/src/main/kotlin/app/view/assets/DatabaseConnections.kt
  app/src/main/kotlin/app/view/assets/Selector.kt
  app/src/main/kotlin/app/view/screens/ChosingTypesScreen.kt
  app/src/main/kotlin/app/view/screens/HomeScreen.kt
  app/src/main/kotlin/app/view/screens/TreeScreen.kt
Labels: UI-View

#51 UI implementation for the BSTrees library
  app/src/main/kotlin/app/presenter/LayoutPresenter.kt
  app/src/main/kotlin/app/presenter/TreePresenter.kt
  app/src/main/kotlin/app/view/App.kt
  app/src/main/kotlin/app/view/assets/DatabaseConnections.kt
  app/src/main/kotlin/app/view/assets/Selector.kt
  app/src/main/kotlin/app/view/assets/TreeView.kt
  app/src/main/kotlin/app/view/screens/AddNodeScreen.kt
  app/src/main/kotlin/app/view/screens/ChosingTypesScreen.kt
  app/src/main/kotlin/app/view/screens/DeleteNodeScreen.kt
  app/src/main/kotlin/app/view/screens/HomeScreen.kt
  app/src/main/kotlin/app/view/screens/ScreenManager.kt
  app/src/main/kotlin/app/view/screens/TreeChosingScreen.kt
  app/src/main/kotlin/app/view/screens/TreeScreen.kt
  app/src/main/kotlin/app/view/screens/TypesChoosingScreen.kt
  app/src/main/kotlin/app/view/treeView/Edge.kt
  app/src/main/kotlin/app/view/treeView/Node.kt
  app/src/main/kotlin/app/view/treeView/Tree.kt
  app/src/main/kotlin/app/view/utils/Databases.kt
  app/src/main/kotlin/app/view/utils/Trees.kt
Labels: UI-Controller, UI-View
